@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    position: relative;
    background: white;
    
}
.navcontainer{
    width: 100%;
    height: 100px;
    /* background: grey; */
    padding: 0px 45px 0px 45px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    
}
nav{
    width: 1300px;
    height: 100%;
    /* background: teal; */
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    
}
.logo{
    width: 15%;
    height: 100%;
    /* background: yellow; */
    display: flex;
    align-items: center;
}
.menuIconcontainer{
    width: 50px;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.hamburger{
    margin-right: 20px;
    cursor: pointer;
    /* display: none; */
}
.closemenu{
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
.pagelogo{
    cursor: pointer;
}
.ulcontainer{
    display: none;
}
nav ul {
    display: flex;
    width: 38%;
    justify-content: space-around;
    height: 100%;
    
}
.ulcontainertop{
    flex: 1;
    /* background: blue; */
    height: 100%;
}

nav ul li{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 100%;
    /* background: blue; */
}
nav ul li a{
    text-decoration: none;
    color: black;    
}
nav ul li:hover{
    border-bottom: 4px solid #FF7D1B;

}
.cart_avatar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cartbox{
    height: 100px;
    width: 50px;
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.cartnum{
    position: absolute;
    height: 12px;
    width: 17px;
    border-radius: 10px;
    background: #FF7D1B;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 35px;
    left: 8px;
    display: none;
}
.num{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.svgnav{
    height: 30px;
    width: 30px;
    margin-right: 35px;
    cursor: pointer;
    background: transparent;
}
#svgcolor{
    fill: rgb(0, 0, 0, 0.4);
}
#svgcolor:hover{
    fill: black;
}
img.avatar{
    height: 50px;
    width: 50px;
    cursor: pointer;
}

img.avatar:hover{
    border: 3px solid #FF7D1B;
    border-radius: 50%;
}

/*Nav done*/


.container{
    display: flex;
    width: 100%;
    height: 650px;
    padding: 0px 50px 0px 50px;
    position: relative;
    justify-content: center;
}
.card{
    display: flex;
    width: 1300px;
}
.left{
    width: 50%;
    height: 100%;
    margin-right: 50px;
}
.lefttop{
    height: 75%;
    width: auto;
    overflow: hidden;
}
.product1{
    height: 100%;
    width: 85%;
    border-radius: 20px;
    /* display: none; */
}
.product2{
    height: 100%;
    width: 85%;
    border-radius: 20px;
    /* display: none; */
}
.product3{
    height: 100%;
    width: 85%;
    border-radius: 20px;
    /* display: none; */
}
.product4{
    height: 100%;
    width: 85%;
    border-radius: 20px;
    /* display: none; */
}
.leftbottom{
    height: 25%;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.thumbnailcont{
    height: 80px;
    width: 80px;
    border-radius: 10px;
    position: relative;
}
.thmbnail1{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: relative;
}
.overlay{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0);
    position: absolute;
    top: 0;
    cursor: pointer;
    
}
.overlay:hover{
    background: rgba(255, 255, 255, 0.5);
}

.thmbnail2{
    height: 80px;
    border-radius: 10px;
    width: 80px;
    border-radius: 10px;
}
.thmbnail3{
    height: 80px;
    width: 80px;
    border-radius: 10px;
}
.thmbnail4{
    height: 80px;
    width: 80px;
    border-radius: 10px;
}
.pageoverlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.5);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    display: none;
}
.imageoverlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: column;
    /* background: yellow; */
}
.leftcircle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -25px;
    top: 220px;
    cursor: pointer;
}
.rightcircle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -25px;
    top: 220px;
    cursor: pointer;
}
.imagepreview{
    height: 500px;
    width: 500px;
    position: relative;
    border-radius: 20px;
}
.preview1{
    height: 500px;
    width: 500px;
    border-radius: 20px;
    /* position: relative; */
}
.preview2{
    height: 500px;
    width: 500px;
    border-radius: 20px;
    display: none
    /* position: relative; */
}
.preview3{
    height: 500px;
    width: 500px;
    border-radius: 20px;
    display: none
    /* position: relative; */
}
.preview4{
    height: 500px;
    width: 500px;
    border-radius: 20px;
    display: none
    /* position: relative; */
}
svg.close{
    position: absolute;
    top: -45px;
    right: -15px;
    height: 22px;
    width: 21px;
}
#close{
    fill: white;
    height: 22px;
    width: 21px;
    cursor: pointer;
}

.imagethumnails{
    display: flex;
    height: auto;
    width: 500px;
    /* background: blue; */
    padding: 30px 40px 20px 40px;
    justify-content: space-around;
}
.right{
    width: 55%;
    height: 100%;
}
.righttop{
    height: 55%;
    width: 100%;
    padding-right: 100px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.company{
    font-weight: 700;;
    padding-bottom: 20px;
    color: #FF7D1B;
}
.sneakersName{
    font-size: 49px;
    font-weight: 700;
    line-height: 55px;
    padding-bottom: 25px;
}
.sneakersdescription{
    color: #404040;
}
.rightbottom{
    height: 45%;
    width: 100%;
    background: white;
}
.rightbottomTop{
    height: 35%;
    width: 100%;
}
.pricecontainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.pricecontainerleft{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
}
.price{
    font-size: 30px;
    font-weight: 700;
    margin-right: 18px;
}
.percentage{
    background: #ff7d1a8e;
    height: 25px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-weight: 700;
}
.previousprice{
    height: 50%;
    width: 50%;
    display: flex;
}
.pastprice{
    text-decoration: line-through;
    color: rgba(93, 93, 93, 0.844);
    font-weight: 700;
}
.rightbottomDown{
    height: 65%;
    width: 100%;
    display: flex;
}
.rightbottomDownLeft{
    height: 53px;
    width: 25%;
    background: rgb(234, 234, 234);
    border-radius: 8px;
    display: flex;
    margin-right: 15px;
}
#quantity{
    height: 100%;
    width: 10px;
    flex: 1;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border: none;
    user-select: none;
    background: transparent;
}
#quantity:focus{
    outline: none;
    border: none;
}
.minus-btn{
    height: 100%;
    padding-right: 7px;
    padding-left: 7px;
    background: transparent;
    font-size: 24px;
    border: none;
    cursor: pointer;
}
.plus-btn{
    height: 100%;
    padding-right: 7px;
    padding-left: 7px;
    background: transparent;
    font-size: 24px;
    border: none;
    cursor: pointer;
}
.rightbottomDownRight{
    width: 80%;
    height: 53px;
    display: flex;
}
.AddToCart{
    height: 100%;
    width: 50%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #FF7D1A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3S ease-in-out;
    font-weight: 700;
}
.AddToCart:hover{
    width: 55%;
    background: #fa9c54;
    transition: 0.3S ease-in-out;
}
svg{
    margin-right: 12px;
    height: 20px;
    width: 20px;
}
#svgcolor1{
    fill: white;
    margin-right: 10px;
    
}

.cartview{
    display: flex;
    position: absolute;
    height: 240px;
    width: 350px;
    background: white;
    flex-direction: column;
    border-radius: 10px;
    top: -85px;
    right: 60px;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 10000;
}

.cartviewtop{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    
}
.carttext{
    font-weight: 700;
}

.cartviewmiddle{
    height: 100%;
    width: 100%;
    display: flex;
    /* background: red; */
    padding: 0px 20px 0px 20px;
    align-items: center;
    /* display: none; */
}
.cartviewmiddleouter{
    height: 35%;
    width: 100%;
    display: flex;
    height: 35%;
    display: none;
}
.cartmiddleleft{
    height: 50px;
    width: 50px;
    border-radius: 6px;
    margin: 0px 15px 0px 0px;
}
.cartviewimage{
    height: 100%;
    width: 100%;
    border-radius: 6px;
}
.cartmiddlemiddle{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.cartsneakersname{
    font-size: 16px;
}
.cartsneakersquantity{
    font-size: 16px;
}
.quantityprice{
    font-weight: 700;
}
.cartmiddleright{
    width: 10px;
}
.delete{
    height: 18px;
    width: 15px;
    cursor: pointer;
}

.cartviewbottom{
    height: 35%;
    width: 100%;
    padding: 5px 20px 25px 20px;
    display: none;
}
.checkout{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #FF7D1A;
    color: white;
    border: none;
    transition: 0.3S ease-in-out;
}
.checkout:hover{
    background: #fa9c54;
    transition: 0.3S ease-in-out;
}
.emptycart{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.mobilearrowleft{
    display: none;
}
.mobilearrowright{
    display: none;
}
@media(max-width: 1150px){
    .lefttop{
        height: 75%;
        width: 100%;
        /* overflow: hidden; */
    }
    .product1{
        height: 100%;
        width: 100%;
        border-radius: 20px;
        /* display: none; */
    }
    .product2{
        height: 100%;
        width: 100%;
        border-radius: 20px;
        /* display: none; */
    }
    .product3{
        height: 100%;
        width: 100%;
        border-radius: 20px;
        /* display: none; */
    }
    .product4{
        height: 100%;
        width: 100%;
        border-radius: 20px;
        /* display: none; */
    }
    .leftbottom{
        height: 25%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .righttop{
        padding-right: 50px;
        padding-top: 60px;
    }
    
}

@media(max-width: 1000px){
    /* dealing with navbar first */
    .navcontainer{
        width: 100%;
        height: 75px;
        padding: 0px 10px 0px 10px;
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        position: relative;
    }
    nav{
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        border-bottom: none;
    }
    .logo{
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        order: -1;
    }
    .menuIconcontainer{
        width: 50px;
        height: 100%;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hamburger{
        margin-right: 20px;
        cursor: pointer;
        display: block;
        z-index: 50;
        /* position: fixed; */
    }

    .closemenu{
        margin-right: 20px;
        margin-left: 30px;
        cursor: pointer;
        display: none;
        z-index: 50;
        position: fixed;
    }
    
    .pagelogo{
        cursor: pointer;
    }
    
    nav ul {
        display: block;
        width: 70%;
        justify-content: space-around;
        height: cover;
        position: absolute;
        top: 0;
        left: -50px;
        z-index: 31;
        padding: 100px 0px 0px 80px ;
        background: white;
        display: none;
        position: fixed;
        
    }
    .ulcontainer{
        position: absolute;
        height: 100Vh;
        width: 100%;
        background: rgb(0, 0, 0, 0.5);
        display: block;
        top: 0px;
        z-index: 20;
        display: none;
        position: fixed;
    }
    .ulcontainertop{
        display: block;
        width: 70%;
        justify-content: space-around;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0px;
        z-index: 30;
        padding: 100px 0px 0px 50px ;
        background: transparent;
        /* display: none; */
    }
    




    
    
    nav ul li{
        height: max-content;
        padding-bottom: 20px;
        font-weight: 700;
        font-size: 18px;
    }
    nav ul li:hover{
        border-bottom: none;
    
    }
    .cart_avatar{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .svgnav{
        height: 30px;
        width: 30px;
        margin-right: 13px;
        cursor: pointer;
        background: transparent;
        margin-top: 9px;
    }
    #svgcolor{
        fill: rgb(83, 83, 83);
    }
    #svgcolor:hover{
        fill: black;
    }
    img.avatar{
        height: 30px;
        width: 30px;
        cursor: pointer;
    }
    
    img.avatar:hover{
        border: 3px solid #FF7D1B;
        border-radius: 50%;
    }


    .container{
        /* max-width: 100%; */
        /* overflow: hidden; */
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }

    .card{
        flex-direction: column;
        width: 100%;
    }
    .left{
        width: 100%;
        height: 350px;
        margin-right: 50px;
    }
    .lefttop{
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .product1{
        height: 100%;
        width: 100%;
        border-radius: 0px;
        /* display: none; */
    }
    .product2{
        height: 100%;
        width: 100%;
        border-radius: 0px;
        /* display: none; */
    }
    .product3{
        height: 100%;
        width: 100%;
        border-radius: 0px;
        /* display: none; */
    }
    .product4{
        height: 100%;
        width: 100%;
        border-radius: 0px;
        /* display: none; */
    }
    
    .leftbottom{
        display: none;
    }
    .right{
        width: 100%;
        height: auto;
        padding-bottom: 40px;
    }
    .righttop{
        padding-top: 25px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: flex-start;
        height: auto;
    }
    .company{
        padding-bottom: 10px;
    }
    .sneakersName{
        font-size: 30px;
        padding: 0px;
        line-height: 30px;
    }
    .sneakersdescription{
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 16px;
        line-height: 22px;
    }

    .rightbottomTop{
        display: flex;
        height: 70px;
        padding: 0px 20px 0 20px

    }
    .pricecontainer{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        align-items: center;
    }
    .previousprice{
        height: 100%;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        /* background: blue; */
    }
    .rightbottomDown{
        flex-direction: column;
        padding: 0px 20px 0px 20px;
    }
    .rightbottomDownLeft{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .rightbottomDownRight{
        width: 100%;
    }
    .AddToCart{
        width: 100%;
    }
    .AddToCart:hover{
        width: 100%;
    }
    .mobilearrowleft{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: white;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 42%;
        left: 10px;
        border: none;
        z-index: 70;
    }
    .mobilearrowright{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: white;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 42%;
        right: 10px;
        border: none;
    }
    .cartview{
        display: flex;
        position: absolute;
        height: 240px;
        width: 96%;
        background: white;
        flex-direction: column;
        border-radius: 10px;
        top: 0px;
        left: 10px;
        box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
        display: block;
        z-index: 35;
        /* margin: 0px 135px 0px 135px; */
        justify-content: center;
        align-items: center;
        display: none;
    }
    .emptycart{
        display: flex;
        border-radius: 10px;
        /* display: none; */
        height: 70%;

    }
    .checkout{
        font-size: 22px;
        font-weight: 700;
    }

    /* .container{
        padding-left: 70px;
        padding-right: 70px;
    }
    .navcontainer{
        padding: 0px 70px;
    } */
}

@media (max-width: 1000px) and (min-width: 600px){
    .left{
        width: 100%;
        height: 600px;
        margin-right: 50px;
    }

    .rightbottomTop{
        display: flex;
        height: 90px;
        padding: 0px 20px 0 20px;

    }
    .pricecontainer{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        align-items: center;
    }
    .previousprice{
        height: 100%;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .rightbottomDown{
        flex-direction: column;
        padding: 0px 20px 0px 20px;
        height: 170px
    }
    .rightbottomDownLeft{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        height: 75px;
    }
    .rightbottomDownRight{
        width: 100%;
        height: 75px;
    }
    .AddToCart{
        width: 100%;
    }
    .AddToCart:hover{
        width: 100%;
    }
    .cartview{
        height: 300px;
    }
    .closemenu{
        margin-right: 20px;
        margin-left: 0px;
        cursor: pointer;
        display: none;
        z-index: 50;
        position: fixed;
    }

    
}


